.main{
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 12fr;
  gap: 1.25rem;
}
.container {
  display: flex;
  height: 100vh;
}

.player-container {
  border: 3px solid #35a78a;
  border-radius: 1rem;
  padding: 1.25rem;
}

ul, ol {
  list-style: none;}
