.year{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.Playlist1{
  display: flex;
  grid-template-columns: 60% 40%;
}
.track-list{
  margin: 1rem;
}
